h1.special {
  color: green;
  text-align: center;
}

.about {
  color: gray;
  font-style: italic;
}

.column {
  float: left;
  width: 400px;
}

.right {
  float: right;
  width: 400px;
  background-color: yellow;
}

body {
  background-color: lime;
}
